<footer class="footer p-10 bg-neutral text-neutral-content">
  <nav>
    <header class="footer-title">Project tech stack</header>
    <div *ngFor="let tech of technologies">
      <a href="{{ tech.url }}" class="link link-hover">{{ tech.name }}</a>
    </div>
  </nav>

  <nav>
    <header class="footer-title">Contributors</header>
    <div *ngFor="let author of authors">
      <a href="{{ author.url }}" class="link link-hover">{{ author.name }}</a>
    </div>
  </nav>
  <nav>
    <header class="footer-title">Follow us</header>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/UNICT-DMI/Santini-Generator">
        <i class="bx bxl-github text-3xl"></i>
      </a>
      <a href="https://t.me/unict_devs">
        <i class="bx bxl-telegram text-3xl"></i>
      </a>
    </div>
  </nav>
</footer>
