<footer class="footer footer-center p-10 bg-primary text-base-100">
    <aside>
      <div class="font-bold">
        Made with <span class="text-red-500">&hearts;</span> by <br>
        <a href="https://github.com/Helias" target="_blank">Helias</a> &
        <a href="https://github.com/makapx" target="_blank">makapx</a>
      </div>
    </aside> 
    <nav>
      <div class="grid grid-flow-col gap-4">
        <a href="https://github.com/UNICT-DMI/Santini-Generator" target="_blank">
            <i class='bx bxl-github text-4xl'></i>
        </a>
      </div>
    </nav>
</footer>