<div class="flex w-full gap-2">
  <div class="p-2 flex flex-col gap-2 w-fit bg-gray-100 rounded-md shadow-sm">
    <button
      class="btn btn-primary btn-sm"
      (click)="toggleActive()"
      [ngClass]="{ 'btn-primary': isActive, 'btn-error': !isActive }"
    >
      <i
        class="bx text-lg text-white"
        [ngClass]="{ 'bxs-hide': !isActive, 'bxs-show': isActive }"
      ></i>
    </button>
    <button
      class="btn btn-primary btn-sm"
      [disabled]="!isActive"
      (click)="openModal()"
    >
      <i
        class="bx text-white"
        [ngClass]="{
          'bxs-image-add text-lg': !selectedLogo,
          'bxs-edit text-lg': selectedLogo
        }"
      ></i>
    </button>
    <ng-container *ngIf="selectedLogo">
      <button class="btn btn-error btn-sm" (click)="selectedLogo = null">
        <i class="bx bxs-trash-alt text-white text-lg"></i>
      </button>
    </ng-container>
  </div>
  <div
    class="flex flex-col sm:flex-row gap-1 p-4 items-center justify-start w-full md:w-2/3 lg:w-1/2 max-w-lg"
    [ngClass]="[!isActive ? 'bg-gray-100' : getColorReference(application.key)]"
  >
    <ng-container *ngIf="selectedLogo; else noLogo">
      <img
        [src]="selectedLogo.path"
        class="w-20 h-20 md:w-28 md:h-28 rounded-full mx-auto"
        alt="logo"
      />
    </ng-container>
    <ng-template #noLogo>
      <div
        class="rounded-full w-20 h-20 md:w-28 md:h-28 bg-gray-500 flex items-center justify-center"
      ></div>
    </ng-template>
    <div class="flex flex-col justify-between p-2">
      <label>
        {{ application.label }}
      </label>
      <input
        type="text"
        placeholder="Nome candidato/a"
        class="input w-full bg-transparent max-w-xs outline-none focus:outline-none rounded-none border-t-0 border-x-0 border-b-2 border-b-black md:text-xl"
        [readonly]="!isActive"
      />
    </div>
  </div>
</div>
